.App {
  text-align: center;
}
body {
  margin-left: 20px;
  align-content: center;
  background-color: rgb(30, 33, 48);
  color: white;
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 10vh;
  background: rgb(92, 42, 133);
  color: white;
}
.nav-links {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
